#field {
     width: 400px;
     height: 300px;
     border: 10px groove black;
     background-color: #00FF00;
     position: relative;
     overflow: hidden;
   }

   #ball {
     position: absolute;
     top: 0;
     left: 0;
   }
